/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : Sat Sep 08 2018
 * @Link: dtysky.moe
 */
$star-quantity: 4;
$dot-quantity: 50;
$speed: 1s;

.pd-rim-light-fresnel {
  width: 100%;
  height: 100%;
  background-color: #0bf;
  overflow: hidden;
  margin: 0;
}
