/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 2018-4-18 19:07:50
 * @Link: dtysky.moe
 */
@import '../../config.scss';

.pd-demo {
  position: relative;

  &-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $top-height;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $text-active-color;
    background-color: $fg-color;
    box-shadow: 0 2px 24px #aaaaaa;
    transition: all .3s ease-in-out;
    overflow: hidden;
    cursor: pointer; 
  }

  &-title {
    display: flex;
    align-items: center;
    color: inherit;
    width: 20%;

    @media (max-width: $mobile-width) {
      width: 50%;
    }

    &:hover, &:active {
      color: inherit;
    }

    >h1 {
      font-size: 16px;
      color: inherit;
      white-space: nowrap;
      margin-bottom: 0;
      margin-right: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    >i {
      font-size: 18px;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &-action {
    display: flex;
    align-items: center;
    color: black;
    padding: 4px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      color: #666;
    }

    >p {
      margin: 0 0 0 4px;
      font-size: 14px;

      @media (max-width: $mobile-width) {
        display: none;
      }
    }

    >i {
      font-size: 16px;
      display: inline-block;

      @media (max-width: $mobile-width) {
        font-size: 20px;
      }
    }
  }

  &-main {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}
