/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 2018-4-18 19:07:55
 * @Link: dtysky.moe
 */
@import '../../config.scss';

.pd-topbar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  top: 0;
  height: $top-height;
  box-shadow: 0 2px 24px #aaaaaa;
  padding: 12px;

  &-logo {
    display: block;
    text-align: center;
    color: #444;
    margin: 0;
    text-decoration: none;

    &:hover, &:link, &:active {
      color: #444;
      text-decoration: none;
    }

    >h1 {
      margin: 0;
      font-size: 28px;
      color: inherit;
      font-weight: normal;
    }
  }

  &-search {
    position: relative;
    width: 80%;
    margin-left: 10%;

    .ant-select-selection {
      background-color: #fff;
      border-color: $theme-color;
      border-radius: 12px;
      height: 30px;

      &__placeholder {
        font-size: 16px;
        line-height: 24px;
        height: 24px;
        padding-left: 12px;
      }

      &:hover {
        border-color: $theme-color;
      }
    }

    &-button, &-button:hover {
      position: absolute;
      display: block;
      font-size: 16px;
      right: 24px;
      top: 6px;
      color: #9599af;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 18px 24px;

    &-logo >h1 {
      font-size: 22px;
    }

    &-search {
      .ant-select-selection {
        height: 30px;
  
        &__placeholder {
          font-size: 13px;
          line-height: 20px;
          height: 20px;
          padding-left: 6px;
        }
      }
  
      &-button, &-button:hover {
        font-size: 14px;
        top: 6px;
        right: 12px;
      }
    }
  }
}
