/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 2018-4-18 19:07:55
 * @Link: dtysky.moe
 */
@import '../../config.scss';

.pd-tags {
  margin: 0 24px;
  padding-top: $top-height;
  background: white;
}
