/**
 * @File   : base.scss
 * @Author : {AUTHOR}
 * @Date   : {DATE}
 * @Link: dtysky.moe
 */
$star-quantity: 4;
$dot-quantity: 50;
$speed: 1s;
.pd-{CLASS} {
  width: 100%;
  height: 100%;
  background-color: #0bf;
  overflow: hidden;
  margin: 0;
}
