/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 2018-4-11 15:04:36
 * @Link: dtysky.moe
 */
.pd-digital-clock-3d {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  overflow: hidden;
  margin: 0;
}
