/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 2018-4-4 16:59:11
 * @Link: dtysky.moe
 */
@import './reset.scss';
@import './config.scss';

html, body, #paradise {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color: #f4f7f6;
}

html body {
  overflow: auto;
  @include custom-scroll(10px, 0, 4px);
}

#paradise {
  position: relative;
}
